*{margin: 0; padding: 0; box-sizing: border-box;}
body{
  font-family: sans-serif;
}
.header{
  width: 100%;
  line-height: 100px;
  background-color: #f5ba13;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
  color: #fff;
  box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px #000000;
  color: #fff;
}
.footer{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.main_note{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 30px 0;
}

input{
  width: 100%;
  line-height: 30px;
  border: none;
  outline: none;
  background: transparent;
  margin: 10px 0px;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 20px;
}

textarea{
  width: 100%;
  line-height: 30px;
  border: none;
  outline: none;
  background: transparent;
  margin: 10px 0px;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 20px;
}
form{
  border-radius: 10px;
  box-shadow:5px 3px 15px -5px rgba(0, 0, 0, 0.5);
  width: 30%;
}

button{
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 999999999;
  background-color: white;
}
button:hover{
  background: #f5ba13;
  color: #fff;
}
.btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow:5px 2px 15px -5px rgba(0, 0, 0, 0.5);
  margin-bottom: -18px;
  margin-left: 400px;
  color: #fff;
}
.btn:hover{
  color: #fff;
}
.note{
  box-shadow:5px 3px 15px -5px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  padding: 30px 0;
  width: auto;
  border-radius:10px;
  margin-left: 60px;
  margin-top: 60px;
  padding: 20px;
}
.note h2{
  padding: 10px 0;
  font-weight: 200;
}
.note p{
  padding: 10px 5px;
 
}
.note{
  display: inline-flex;
  align-items: flex-end;

}
h4{
  padding-left: 20px;
}




